<% include ../header %>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> 控制台
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> <%= title %>
                    </li>

                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <% if (message.success) { %>
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%=message.success%>
                </div>
                <% } %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <form role="form" action="/category/<%= category.id %>" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label>类别名称</label>
                        <input name="name" value="<%= category.name %>" class="form-control">
                        <p class="help-block">社区类别的名称.</p>
                    </div>

                    <div class="form-group">
                        <label>类别描述</label>
                        <textarea name="description" class="form-control" rows="3"><%= category.description %></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">添加</button>
                    <button type="reset" class="btn btn-default">重置</button>

                </form>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

<% include ../footer %>